@media (min-width: 34.375rem) {

  header .left .user-card .user-content h3,
  header .left .user-card .user-content span {
    display: block;
  }

  header {
    gap: 0px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px !important;
  }

  header .left .user-card {
    gap: 10px;
    padding: 10px 0.9375rem;
  }

  header .right .online-tag {
    position: static;
    width: auto;
    transform: none;
  }

  header .right .title h2 {
    font-size: 2.5rem;
  }

  header .right .logo {
    padding: 1.125rem;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
  }

  header .right .logo i {
    font-size: 1.25rem;
  }

  header .left .user-card .img img {
    width: 2.8125rem;
    height: 2.8125rem;
  }
}

@media (min-width: 660px) {
  .styling h2 {
    font-size: 1.5625rem;
  }

  .recent .new-acc-card .content h3 {
    font-size: 0.8125rem;
  }

  .recent .new-acc-card .content p {
    font-size: 0.6875rem;
  }

  .recent .new-acc-card .content span {
    font-size: 0.75rem;
  }

  .cards-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "header header header header header header header header header header header header "
      "current-balance current-balance current-balance current-balance income income income income expenses expenses expenses expenses"
      "recent recent recent recent recent recent Income-versus-expenses Income-versus-expenses Income-versus-expenses Income-versus-expenses Income-versus-expenses Income-versus-expenses"
      "latest latest latest latest latest latest latest latest latest latest latest latest"
      "monthely monthely monthely monthely monthely monthely Account-Summary Account-Summary Account-Summary Account-Summary Account-Summary Account-Summary"
      "budget budget budget budget budget budget Payment-methods Payment-methods Payment-methods Payment-methods Payment-methods Payment-methods"
      "budget budget budget budget budget budget . . . . . .";
  }

  .styling h2 {
    font-size: 1.875rem;
  }

  .app-container {
    grid-template-columns: 5.625rem 1fr;
  }

  aside {
    display: flex;
    box-shadow: -8px 0px 1.875rem rgba(0, 0, 0, 0.09);
  }

  aside .aside-title,
  aside .nav-menu ul li span,
  aside .procedures-menu h3,
  aside .procedures-menu ul li span {
    display: none;
  }

  aside .aside-content,
  aside .nav-menu ul li,
  aside .procedures-menu ul li {
    justify-content: center;
  }
}

@media (min-width: 48rem) {}

@media (min-width: 1024px) {
  .styling h2 {
    font-size: 2.5rem;
  }

  .cards-container {
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
      "header header header header header header header header header "
      "current-balance current-balance current-balance income income income expenses expenses expenses"
      "recent recent recent latest latest latest latest latest latest"
      "monthely monthely monthely latest latest latest latest latest latest"
      "budget budget budget Income-versus-expenses Income-versus-expenses Income-versus-expenses Payment-methods Payment-methods Payment-methods "
      "budget budget budget Account-Summary Account-Summary Account-Summary Payment-methods Payment-methods Payment-methods "
      "budget budget budget . . . . . . "
      "budget budget budget . . . . . . "
      "budget budget budget . . . . . . "
      "budget budget budget . . . . . . "
      "budget budget budget . . . . . . "
      "budget budget budget . . . . . . ";
  }

  .app-container {
    grid-template-columns: 13.75rem 1fr;
  }

  aside .aside-title,
  aside .procedures-menu h3 {
    display: block;
  }

  aside .nav-menu ul li span,
  aside .procedures-menu ul li span {
    display: inline;
  }

  aside .aside-content,
  aside .nav-menu ul li,
  aside .procedures-menu ul li {
    justify-content: flex-start;
  }
}

@media (min-width: 80rem) {}
@media (min-width: 660px) and (max-width: 48.75rem) { .card-bottom .card-number, .paypal-number { font-size: 0.95rem; letter-spacing: 0; } }
